@page
@model GamePreferences
@{
    ViewData["Title"] = "GamePreferencesPage";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/profile-page.css">
    @* <script defer src="login-page.js"></script>*@
</head>

<body>
    <main id="main-holder">
        <h1 id="profile-header">Game Preferences</h1>


        <form id = "gamePreferences-form">
            <p>Add Game Preference</p>
          <input type="radio" id="halo" name="fav_game" value=1>
            <label for="halo">HALO</label><br>
            <input type="radio" id="callofduty" name="fav_game" value=2>
            <label for="callofduty">Call of Duty</label><br>
            <input type="radio" id="rocketleague" name="fav_game" value=3>
            <label for="rocketleague">Rocket League</label>
            <input type="number" name="elo" id="elo-field" class="gamePreferences-form-field" placeholder = "ELO">
            <input type="submit" value="Submit" id="gamePreferences-form-submit">
        </form>

        <br />
        <p>All Game Preferences</p>
        <input type = "submit" value = "Load" id = "gamePreferencesLoad">
        <table class="table table-hover" id="queryTable">
            <thead>
          <tr>
            <th>Preference ID</th>
            <th>Game ID</th>
            <th>Profile ID</th>
            <th>ELO</th>
            <th>region</th>
            <th>behavior_index</th>
          </tr>
          </thead>
          <tbody></tbody>
        </table>
        
        
    </main>

</body>

 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
            const gamePreferencesForm = document.getElementById("gamePreferences-form");
            const createGamePreferencesButton = document.getElementById("gamePreferences-form-submit");
            const loadGamePreferencesButton = document.getElementById("gamePreferencesLoad");
            //const loginErrorMsg = document.getElementById("login-error-msg");
            const radioButtons = document.querySelectorAll('input[name="fav_game"]');
            var hostName = "https://localhost:44380/";
            
             


        createGamePreferencesButton.addEventListener("click", (e) => {
            console.log();
            e.preventDefault();

            alert("Button clicked");
                const elo = gamePreferencesForm.elo.value;
                let selectedGame;

                for (const radioButton of radioButtons) {
                    if (radioButton.checked) {
                        selectedGame = radioButton.value;
                        break;
                    }
                };

                $.ajax({
                        type: 'POST',
                        url: hostName+"api/GamePreferences",
                        contentType: "application/json; charset=utf-8",

                        data: JSON.stringify({
                            "gameId": selectedGame,
                            "profileId": getCookie("profileId"),
                            "elo": elo,
                            "region": getCookie("region"),
                            "behaviorIndex": getCookie("behaviorIndex")

                        }),
                        success: function(msg){
                            alert("Game Preferences Saved.");
                            console.log(JSON.stringify(msg));
                        },

                        error: function(msg){
                            alert("Error");
                            console.log("error: "+ JSON.stringify(msg) );
                        }
                    });

            });



        loadGamePreferencesButton.addEventListener("click", (e) => {
            console.log();
            e.preventDefault();

            $.ajax({
                type: 'GET',
                url: hostName+"api/GamePreferences",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(msg){
                    alert("Game Preferences Retrieved");
                    console.log(JSON.stringify(msg));
                    $.each(msg, function (i, value) {
                        console.log("key: "+msg[i] + "  -----Value :" +value);
						//	$('#queryTable > tbody:last-child').append('<tr><td>Record1</td><td>Record2</td></tr>');
						})

                },

                error: function(msg){
                    alert("Error");
                    console.log("error: "+ JSON.stringify(msg));
                }
            })




        });


        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            let name = cname + "=";
            let ca = document.cookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }


    });
</script>