@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">WebApplicationGame6813Team6</h1>
</div>



<div>
    <h2>Create User</h2>
    <label for="uname">Username: </label>
    <input type="text" id="uname" name="uname" value= "" ><br>

    <label for="fname">Password: </label>
    <input type="text" id="pword" name="pword" value= "" ><br>

    <label for="fname">ELO: </label>
    <input type="text" id="elo" name="elo" value= "" ><br>
    <br />
    
    <button type="button" class = "submitButton">Create User</button>
</div>

<br />


<div>
     <h2>Delete User</h2>
    <label for="uname">Id: </label>
    <input type="text" id="id" name="id" value= "" ><br>
    <br >
    <button type="button" class = "deleteButton">Delete User</button>
</div>


<br />
<h2>List Users</h2>
<button type="button" class = "userListButton">Get List of Users</button>



 

  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $(".submitButton").on('click', function(){
        $.ajax({
            type: 'POST',
            url: "https://localhost:44380/api/Users",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                "username": $('#uname').val(),
                "password": $('#pword').val(),
                "elo": $('#elo').val()
            }),
            success: function(msg){
                alert($('#uname').val() + " added.");
            },

            error: function(msg){
                alert("error: "+ JSON.stringify(msg) )
            }
        });
    });

    $(".userListButton").on('click', function(){
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "https://localhost:44380/api/Users",
                success: function(res)
                {
                    console.log(res)
                    alert("check console log for user list.")
               
                },

                error: function(msg){
                    alert("error: "+ msg )
                }
            });
    });

    $(".deleteButton").on('click', function(){
        $.ajax({
            type: "DELETE",
            url: "https://localhost:44380/api/Users/"+$('#id').val(),
            success: function(res)
            {
                console.log(res)
                alert("user with id of " + $('#id').val() +" deleted.")
            },

            error: function(msg){
                alert("error: "+ JSON.stringify(msg) )
            }
        });
    });


});
</script>
