@page
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    }

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/login-page.css">
    @* <script defer src="login-page.js"></script>*@
</head>

<body>
    <main id="main-holder">
        <h1 id="login-header">Login</h1>

        <div id="login-error-msg-holder">
            <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
        </div>

        <form id="login-form">
            <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
            <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
            <input type="submit" value="Login" id="login-form-submit">
            <input type="submit" value="CreateUser" id="create-user-form-submit">
        </form>

    </main>

</body>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        const loginForm = document.getElementById("login-form");
        const loginButton = document.getElementById("login-form-submit");
        const createUserButton = document.getElementById("create-user-form-submit");
        const loginErrorMsg = document.getElementById("login-error-msg");
        var hostName = "https://localhost:44380/"


        loginButton.addEventListener("click", (e) => {
            console.log();
            e.preventDefault();
            const username = loginForm.username.value;
            const password = loginForm.password.value;


             $.ajax({
                type: 'POST',
                //url: "https://gamematching.azurewebsites.net/api/Users",
                url: hostName+"api/Users/authenticate",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    "username": username,
                    "password": password,

                }),
                success: function(msg){
                    console.log(JSON.stringify(msg));
                    console.log(msg["id"]);
                    //need to base64encode "username:password"
                    encodeUserPass = btoa(username+":"+password);

                    setCookie("authHeader", "Basic "+encodeUserPass, 365); 
                    setCookie("userId", msg["id"], 365);
                    setCookie("username", msg["username"], 365);

                    loginErrorMsg.style.opacity = 0;
                    alert("User logged in successfully.")

                    //sends you to the profile page
                    //location.replace(location.href+'Profile');
                              
                },

                error: function(msg){
                    //alert("Username or password is incorrect");
                    loginErrorMsg.style.opacity = 1;

                    console.log("error: "+ JSON.stringify(msg) );
                }
            });
        })

        createUserButton.addEventListener("click", (e) => {
            console.log();
            e.preventDefault();
            const username = loginForm.username.value;
            const password = loginForm.password.value;

            $.ajax({
                type: 'POST',
                url: hostName+"api/Users",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    "username": username,
                    "password": password,

                }),
                success: function(msg){
                    console.log(JSON.stringify(msg));
                    loginErrorMsg.style.opacity = 0;
                    alert("User "+username+" created successfully.")
                    setCookie("userId", msg["id"], 365);
                    setCookie("username", msg["username"], 365);
                    location.replace(location.href+'createProfile');
                },

                error: function(msg){
                    alert("User already exists");
                    //loginErrorMsg.style.opacity = 1;

                    console.log("error: "+ JSON.stringify(msg) );
                }
            });


        })





        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            let name = cname + "=";
            let ca = document.cookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }


    });
</script>
