@page
@model UserMatch
@{
    ViewData["Title"] = "User Matching";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail user matching.</p>



<label for="ddGames">Preferred Games:</label>
<select id="ddGames">
</select>

<br />
<h1>Matched Users</h1>
<button class="userListButton">Get Matched Users</button>
<div id="matchedUserListContainer"></div>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var hostName = "https://localhost:44380";
        var userID = getCookie("userId");

        $.ajax({
            type: "GET",
            contentType: "application/json",

            headers: {"Authorization" : getCookie("authHeader")},

            url: `${hostName}/api/GamePreferences/${userID}/GamePreferences`,

            success: function (data) {
                //console.log(JSON.stringify(data));
                $.each(data, function (i, gameName) {
                    var gameId = data[i]["gameId"];

                    $.ajax({
                        type: "GET",
                        contentType: "application/json",

                        headers: { "Authorization": getCookie("authHeader") },

                        url: `${hostName}/api/Games/${gameId}`,

                        success: function (data) {
                            //console.log(JSON.stringify(data));
                            //console.log("data\n:" + JSON.stringify(data));
                            //console.log("id:   " + data["gameId"]);

                            var gameName = data["name"];
                            var gameId = data["gameId"];

                            // populate the drop down with the game name and ID as the value
                            var div_data = "<option value=" + gameId + ">" + gameName + "</option>"
                            $(div_data).appendTo('#ddGames');


                        },
                        error: function () {
                            console.log("Error retrieving game names");
                        }
                    });

                    //Not sure if gameName exists - where the name of the game is stored? assuming in the preferredGames tabl



                })

            },
            error: function () {
                console.log("Error retrieving game names");
            }
        });



        $(".userListButton").on('click', function () {

            // Get the selected game ID
            var ddGames = $("#ddGames")[0];
            var selectedIndex = ddGames.selectedIndex;
            var selectedGameId = ddGames.options[selectedIndex].value;

            console.log("Getting Match for user ID = " + getCookie("userId") + " for selected game ID = " + selectedGameId);


            $.ajax({
                type: "GET",
                contentType: "application/json",

                headers: { "Authorization": getCookie("authHeader") },

                url: `${hostName}/api/Matches/${userID}/${selectedGameId}`, 

                success: function (matchedUser) {

                    //console.log("Matched User full data\n:" + JSON.stringify(matchedUser));
                    
                    //alert("Check console log for user list.");

                    if (matchedUser) {

                        var matchedUserID = matchedUser["userId"];

                        // Process the list of users as needed (table)
                        $.ajax({
                            type: "GET",
                            contentType: "application/json",
                            headers: { "Authorization": getCookie("authHeader") },
                            url: `${hostName}/api/Users/${matchedUserID}`,
                            success: function (data) {
                                //console.log("data:\n" + data)
                                //console.log(matchedUser)

                                var tableHtml = "<table><thead><tr><th>Name</th><th>ELO</th></tr></thead><tbody>";
                                //for (var i = 0; i < res.length; i++) {
                                //    var user = res[i];
                                tableHtml += "<tr><td>" + data.username + "</td><td>" + matchedUser.gamePreferences[0]["elo"] + "</td></tr>";
                                //}
                                tableHtml += "</tbody></table>";
                                $("#matchedUserListContainer").html(tableHtml);
                            },

                            error: function (msg) {
                                alert("Error: " + msg);
                            }

                        })
                    }
                    else {
                        console.log("No matches found for user ID = " + getCookie("userId") + " for game ID = " + selectedGameId)
                        alert("No matches found.");

                    }

                    


                },

                error: function (msg) {
                    alert("No matching users found: " + msg);
                }
            });
        });


        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            let name = cname + "=";
            let ca = document.cookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }



    });



</script>