
@page
@model UserMatch
@{
    ViewData["Title"] = "User Matching";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail user matching.</p>



<label for="ddGames">Preferred Games:</label>
<select id="ddGames">
</select>

<br />
<h1>Matched Users</h1>
<button class="userListButton">Get Matched Users</button>
<div id="matchedUserListContainer"></div>

 



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {


        $.ajax({
            type: "GET",
            contentType: "application/json",

            // not sure what the endpoint is below

            url: "https://localhost:44380/api/GamePreferences/U/101",
            success: function (data) {
                //console.log(JSON.stringify(data));
                $.each(data, function (i, gameName) {
                var gameId = data[i]["gameId"];

                $.ajax({
                    type: "GET",
                    contentType: "application/json",

                    // not sure what the endpoint is below

                    url: "https://localhost:44380/api/Games/" + gameId,
                    success: function (data) {
                        console.log(JSON.stringify(data));
                        console.log(data["name"]);

                        var gameName = data["name"];



                        //Not sure if gameName exists - where the name of the game is stored? assuming in the preferredGames tabl

                        var div_data = "<option value="+data["id"]+">"+gameName+"</option>"
                        //ddGames.append($("option").val(gameName).text(gameName));
                        $(div_data).appendTo('#ddGames');
                    

                    },
                    error: function () {
                        console.log("Error retrieving game names");
                    }
                });

                //Not sure if gameName exists - where the name of the game is stored? assuming in the preferredGames tabl                

                
           
                })

            },
            error: function () {
                console.log("Error retrieving game names");
            }
        });



        $(".userListButton").on('click', function () {
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "/Users/GetUsersByElo?elo=1500", // Change this to the appropriate server endpoint and  or ELO value ( im not sure if we are even matching by ELO?)
                success: function (res) {
                    console.log(res);
                    alert("Check console log for user list.");

                    // Process the list of users as needed (table)

                    var tableHtml = "<table><thead><tr><th>Name</th><th>ELO</th></tr></thead><tbody>";
                    for (var i = 0; i < res.length; i++) {
                        var user = res[i];
                        tableHtml += "<tr><td>" + user.name + "</td><td>" + user.elo + "</td></tr>";
                    }
                    tableHtml += "</tbody></table>";
                    $("#matchedUserListContainer").html(tableHtml);
                },

                error: function (msg) {
                    alert("Error: " + msg);
                }
            });
        });
    });

           

</script>